# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [44]:
# One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset

import pandas as pd
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)
df = pd.concat([df1, df2, df3], axis=0)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
7066,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
7067,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
7068,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
7069,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [22]:
df.columns = df.columns.str.replace("ST", "state")
df.head()

,Customer,state,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [24]:
df['gender'] = df['gender'].replace({'Male': 'M', 'female': 'F', 'Femal': 'F'})
# Drop the duplicate 'gender' column
df = df.loc[:, ~df.columns.duplicated()]
df['gender'].value_counts()

gender
F    1031
M     914
Name: count, dtype: int64

In [28]:
df['state'] = df['state'].replace({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'})
df = df.loc[:, ~df.columns.duplicated()]
df['state'].value_counts()

state
Oregon        623
California    608
Arizona       402
Nevada        223
Washington    211
Name: count, dtype: int64

In [27]:
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
df['education'].value_counts()

education
Bachelor                2743
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Name: count, dtype: int64

In [29]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'].head()

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer_lifetime_value, dtype: object

In [30]:
df['vehicle_class'] = df['vehicle_class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
df['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    4641
Two-Door Car     1896
SUV              1774
Luxury            826
Name: count, dtype: int64

In [31]:
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'])
df['customer_lifetime_value'].head()

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer_lifetime_value, dtype: float64

In [32]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str)
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,NaN,71941.0,73.0,NaN,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,College,NaN,21604.0,79.0,NaN,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,Bachelor,NaN,0.0,85.0,NaN,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,College,NaN,21941.0,96.0,NaN,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,College,NaN,0.0,77.0,NaN,Corporate Auto,Two-Door Car,369.600000

In [33]:
df.isnull().sum()
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,NaN,71941.0,73.0,NaN,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,College,NaN,21604.0,79.0,NaN,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,Bachelor,NaN,0.0,85.0,NaN,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,College,NaN,21941.0,96.0,NaN,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,College,NaN,0.0,77.0,NaN,Corporate Auto,Two-Door Car,369.600000

In [34]:
df = df.dropna()
df.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [35]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())
df['customer_lifetime_value']

/tmp/ipython-input-3096823753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())

1       697953.59
2      1288743.17
3       764586.18
4       536307.65
5       825629.78
          ...
991     847141.75
992     543121.91
993     568964.41
994     368672.38
995     399258.39
Name: customer_lifetime_value, Length: 1940, dtype: float64

In [36]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='ffill')
df['number_of_open_complaints']

/tmp/ipython-input-95623357.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='ffill')
/tmp/ipython-input-95623357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='ffill')

1      0
2      0
3      0
4      0
5      0
      ..
991    0
992    0
993    0
994    0
995    0
Name: number_of_open_complaints, Length: 1940, dtype: object

In [37]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='bfill')
df['number_of_open_complaints']

/tmp/ipython-input-1120644752.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='bfill')
/tmp/ipython-input-1120644752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(method='bfill')

1      0
2      0
3      0
4      0
5      0
      ..
991    0
992    0
993    0
994    0
995    0
Name: number_of_open_complaints, Length: 1940, dtype: object

In [38]:
df.isnull().sum()
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75,63513.0,70.0,0,Personal Auto,Four-Door Car,185.667213
992,BS91566,Arizona,F,College,543121.91,58161.0,68.0,0,Corporate Auto,Four-Door Car,140.747286
993,IL40123,Nevada,F,College,568964.41,83640.0,70.0,0,Corporate Auto,Two-Door Car,471.050488
994,MY32149,California,F,Master,368672.38,0.0,96.0,0,Personal Auto,Two-Door Car,28.460568
995,SA91515,California,M,Bachelor,399258.39,0.0,111.0,0,Personal Auto,SUV,700.349052

In [39]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int)
df['customer_lifetime_value']

/tmp/ipython-input-228654368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int)

1       697953
2      1288743
3       764586
4       536307
5       825629
        ...
991     847141
992     543121
993     568964
994     368672
995     399258
Name: customer_lifetime_value, Length: 1940, dtype: int64

In [40]:
df['income'] = df['income'].astype(int)
df['income']

/tmp/ipython-input-1842244954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income'] = df['income'].astype(int)

1          0
2      48767
3          0
4      36357
5      62902
       ...
991    63513
992    58161
993    83640
994        0
995        0
Name: income, Length: 1940, dtype: int64

In [41]:
df['monthly_premium_auto'] = df['monthly_premium_auto'].astype(int)
df['monthly_premium_auto']

/tmp/ipython-input-2591807269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['monthly_premium_auto'] = df['monthly_premium_auto'].astype(int)

1       94
2      108
3      106
4       68
5       69
      ...
991     70
992     68
993     70
994     96
995    111
Name: monthly_premium_auto, Length: 1940, dtype: int64

In [42]:
df['total_claim_amount'] = df['total_claim_amount'].astype(int)
df['total_claim_amount']

/tmp/ipython-input-1247089097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_claim_amount'] = df['total_claim_amount'].astype(int)

1      1131
2       566
3       529
4        17
5       159
       ...
991     185
992     140
993     471
994      28
995     700
Name: total_claim_amount, Length: 1940, dtype: int64

In [43]:
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17
5,OC83172,Oregon,F,Bachelor,825629,62902,69,0,Personal Auto,Two-Door Car,159
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141,63513,70,0,Personal Auto,Four-Door Car,185
992,BS91566,Arizona,F,College,543121,58161,68,0,Corporate Auto,Four-Door Car,140
993,IL40123,Nevada,F,College,568964,83640,70,0,Corporate Auto,Two-Door Car,471
994,MY32149,California,F,Master,368672,0,96,0,Personal Auto,Two-Door Car,28
995,SA91515,California,M,Bachelor,399258,0,111,0,Personal Auto,SUV,700

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [45]:
# Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [49]:
#Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).Round the total revenue to 2 decimal points. Analyze the resulting table to draw insights.
df_pivot = df.pivot_table(index='sales_channel', values='customer_lifetime_value', aggfunc='sum')
df_pivot.round(2)

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [50]:
#Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.
df_pivot = df.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean')
df_pivot

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

In [51]:
#Analyze the resulting table to draw insights.
df_pivot.sort_values(by='customer_lifetime_value', ascending=False)

                             customer_lifetime_value
gender education
F      High School or Below              8675.220201
M      Master                            8168.832659
F      Master                            8157.053154
M      High School or Below              8149.687783
       College                           8052.459288
F      Bachelor                          7874.269478
       College                           7748.823325
M      Bachelor                          7703.601675
       Doctor                            7415.333638
F      Doctor                            7328.508916

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [52]:
#Create a summary table showing the number of complaints by policy type and month. Show it in a long format table.
df_pivot = df.pivot_table(index=['policy_type', 'month'], values='number_of_open_complaints', aggfunc='sum')
df_pivot

                      number_of_open_complaints
policy_type    month
Corporate Auto 1                     443.434952
               2                     385.208135
Personal Auto  1                    1727.605722
               2                    1453.684441
Special Auto   1                      87.074049
               2                      95.226817

In [53]:
#Show it in a long format table.
df_pivot = df_pivot.reset_index()
df_pivot

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817